{% extends "base.html" %}


  {% block title %} Equipos {% endblock %}

  {% block heading %}
  <h2>Equipos  
     <!--#Descomentar si se quiere agregar autos -   
    <button title="Agregar Equipo" type="button" class="btn btn-success">
      <a href="equipo_create" class="no-decoration"><span class="glyphicon glyphicon-plus"></span></a>
    </button>
    -->
    <!-- Modal -->
    <div class="modal fade" id="addEquipo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Nuevo Equipo </h4>
          </div>
          <div class="modal-body">
            ...

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary">Guardar</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  </h2>


  {% endblock %}
  {% block content %}
  <div class="panel-group" id="accordion">
  {% for equipo in equipos %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse_{{equipo.id}}">
            {{equipo.nombre}}  <!--#Descomentar si se quiere agregar autos - 
            <button title="Agregar Auto" type="button" class="btn btn-primary btn-sm badge pull-right">
             
              <a href="auto_create/{{ equipo.id }}" class="no-decoration"><span class="glyphicon glyphicon-plus"></span></a>
              <a href="#" class="no-decoration"><span class="glyphicon glyphicon-plus"></span></a>
            </button>
              -->
          </a>
        </h4>
      </div>
      <div id="collapse_{{equipo.id}}" class="panel-collapse collapse">
        <div class="panel-body">  
          {{equipo.descripcion}} -
          Creado hace {{ equipo.created|timesince }}

          <div class="list-group">
          {% for auto in equipo.auto_set.all %}

            {% if auto.es_activo %}
            <a href="auto/{{auto.id}}" class="list-group-item ">
              <h4 class="list-group-item-heading"> {{auto.modelo}}</h4>
              <p class="list-group-item-text">{{auto.marca}} - Aprs: {{auto.aprs}}</p>
            </a>
            {% else %}              
              <a href="#" class="list-group-item disabled ">
                <h4 class="list-group-item-heading"> {{auto.modelo}} - Inhabilitado</h4>
                <p class="list-group-item-text">{{auto.marca}} - Este auto aún no ha sido habilitado, contactar al administrador</p>
              </a>
            {% endif %}


          {% empty %} 
            <!-- Descomentar si se quiere crear autos           
            <a href="auto_create/{{ equipo.id }}" class="list-group-item">
              <h4 class="list-group-item-heading">No tiene GeoMyRide en ningún vehículo</h4>
              <p class="list-group-item-text">Click para solicitar un nuevo GeoMyRide</p>
            </a>
            -->
            <a href="#" class="list-group-item">
              <h4 class="list-group-item-heading">No tiene GeoMyRide en ningún vehículo</h4>
              <p class="list-group-item-text">Contactar al administrador para solicitar uno nuevo</p>
            </a>
          {% endfor %}

          </div>

        </div>
      </div>
    </div>  
  {% empty %}
    <h4>Aún no has creado un equipo - <a href="./equipo_create">Crear equipo </a></h4>
  {% endfor %}


  </div>

{% endblock %}



